.state-stroke:hover{
    fill: #ff3333;
}

#svg2{
    fill: rgb(243, 143, 132);
    stroke: white;
}

body{
    background-color: black;
}

*{
    color: wheat;
}

.text-1{
    /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 5px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 5px;
    }
  }
}