.state-stroke:hover{
    fill: #ff3333;
}

#svg2{
    fill: rgb(243, 143, 132);
    stroke: white;
}

body{
    background-color: rgb(0, 0, 0);
    width: 100vw;
}

*{
    color: rgb(150, 150, 150);
    
}

.text-1{
    /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 5px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 5px;

    }

    
  }
}
.top-box{
  display: flex;
  width: 88vw;
  height: 20vh;
  /* border: 2px solid red; */
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
  /* position: absolute; */
  margin: 0px;
  
}

.box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
  height: 20vh;
  width: 20vw;
  flex-shrink: 1;
  padding: 2px;
  
  box-sizing: 76;
}


.top-box1{
  display: flex;
  width: 44vw;
  height: 20vh;
  /* border: 2px solid red; */
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
  /* position: absolute; */
  margin: 0px;

  
  
}

.bg1{
  background-color: rgba(255, 0, 0, 0.267);
}
.bg2{
background-color: rgba(0, 17, 255, 0.205);

}
.bg3{
  background-color: rgba(0, 255, 0, 0.205);
}
.bg4{
  background-color: rgba(77, 77, 77, 0.205);
}

@media screen and (max-width:780px)
{
  .top-box1{
    width: 80vw;
    margin-left: 10px;
  }
  #ttbl{
    width: 80vw;
  }

 
}


/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



.box{
  font-size: 0.9em;
  margin: 6px;
}

table.table-bordered{
  border:2px solid rgba(255, 255, 255, 0.103);
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:2px solid rgba(255, 255, 255, 0.103);
}
table.table-bordered > tbody > tr > td{
  border:2px solid rgba(255, 255, 255, 0.103);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.x{
  color: rgba(255, 255, 255, 0.527);
}